.*
!.gitignore
.cache
/.classpath
db
dist
.DS_Store
**/*.DS_Store
eclipse
*.eml
.history
.idea
/.idea_modules
*.iml
lib
lib_managed
log
logs
modules
/out
precompiled
/.project
project/
/RUNNING_PID
server.pid
/.settings
.target
test-result
tmp
.idea_modules
bin
*.class
*.log

# sbt specific
dist/*
target/
lib_managed/
src_managed/
project/boot/
project/plugins/project/
BrowserStackLocal
BrowserStackLocal-darwin-x64.zip
# Scala-IDE specific
.scala_dependencies
=======
logs
project/project
project/target
target
lib_managed
tmp
.history
dist
/.idea
/*.iml
/*.ipr
/out
/.idea_modules
/.classpath
/.project
/RUNNING_PID
/.settings
*.iws
node_modules/
npm-debug.log
yarn-debug.log
yarn-error.log

